
* {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 300%;
  padding-left: 110px;
  color: #730c0c;
}


nav ul li {
    display: block;
    list-style: none;
    padding: 15px;
    font-family: 'Yellowtail', cursive;
    font-size: 1.8em;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
}

ul {
  margin-left: 70px;
}

#home {
  width: 200px;
  background-color: #fff;

}

#about {
  width: 270px;
  background-color: #fff;

}

#portfolio {
  width: 310px;
  background-color: #fff;
}

#contact {
  width: 150px;
  background-color: #fff;
}

li {
  padding: 15px;
  margin: 10px;
}

.menu:link {
  text-decoration: none;
  background-size: 15px;
  padding: 10px;
  margin: 5px;
}

.menu:hover {
  background-color: #4cf09e;
}

body {
  background: url('../img/Future.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: static;
  z-index: 1;
}

#foto {
  position:relative;
  left: 40%;
  bottom: 310px;
  float: left;
  border-radius: 100%;
  z-index: 2;
}

.container {
  background-color: #d9d326;
  width: 100%;
  margin: auto;
  position: relative;
  top: 30px;
  z-index: 3;
  clear: left;
}

#hh {
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  text-decoration: underline;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0.5px;
  width: 100%;
  padding: 5px 0px;
}

footer {
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 80%;
  font-weight: bold;
  color: #fff;
  position: relative;
  top: 16px;
}
